@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

.css-tip-heading {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 32px 0;
  height: 250px;
  background: linear-gradient(to bottom, rgba(95, 54, 255, 100), rgba(95, 54, 255, 20));
  color: #fff;
}

.css-tip-heading::after {
  content: "";
  position: absolute;
  bottom: -70px;
  height: 140px;
  width: 100%;
  background: white;
  transform: skewY(-4deg);
}

.css-tip-container {
  max-width: 1140px;
  padding: 40px 0;
  margin: 0 auto;
}

.css-tip {
  z-index: 99;
  margin-top: 30px;
  position: relative;
}

.search {
  position: relative;
}

input[type="text"] {
  border: 2px solid #6d6d6d;
  border-radius: 4px;
  padding: 14px 6px 14px 36px;
  width: 500px;
}

input[type="text"]:focus {
  outline: none;
  border-color: #00afea;
}

.icon-wrap {
  position: absolute;
  height: 100%;
  left: 12px;
  top: 0;
  display: flex;
  align-items: center;
}

.icon {
  width: 14px;
  height: auto;
}
